body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20240415/pngtree-glasses-and-stack-of-hardcover-books-image_15655261.jpg');
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px; /* Fixed width for larger screens */
    max-width: 90%; /* Adjusted max-width for responsiveness */
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input,
form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border 0.3s;
}

input:focus,
form select:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.feedback-message {
    color: red;
    margin-top: 10px;
    text-align: center;
    display: none;
}

input.error {
    border-color: red; 
}

@media (max-width: 400px) {
    form {
        width: 90%; /* Ensures the form fits well on smaller screens */
    }
    
    input,
    form select {
        margin: 10px 0; /* Consistent margin for input and select elements */
    }
}
